#header {
    background-color: aqua;
}

.hot {
    background-color: red;
}

#one {
    font-size: 20px;
}
    /* background-color: yellow;
}

#two {
    background-color: aquamarine;
}

#three {
    background-color: orange;
}

#four {
    background-color: blue;
} */

.green {
    background-color: green;
}